{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
   <form method="post">
      {% if error %}
         <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
         <div class="mb-3">
            Vous êtes déja connecté {{ app.user.firstName }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
         </div>
      {% endif %}

      <label for="inputUsername">Matricule</label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required
             autofocus>
      <label for="inputPassword">Mot de passe</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required>

      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}"
      >

      <button class="btn btn-lg btn-primary" type="submit">
         Se connecter
      </button>
   </form>
{% endblock %}
