<!doctype html>
<html lang="fr">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	<title>{% block title %}Hello, world!{% endblock %}</title>
</head>
<body>
{% block body %}
	<h1>Hello world!</h1>
	{% if app.user %}
		<a href="{{ path('app_logout') }}">
			Se déconnecter
		</a>
	{% else %}
		<a href="{{ path('app_login') }}">
			<p>Se connecter</p>
		</a> <br>
		<a href="{{ path('app_register') }}">
			<p>S'inscrire</p>
		</a>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
